*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  font-size: 12px;
  font-family: helvetica;
  line-height: 1.5;
  padding-top: 70px;
}

nav {
  background-color: #2D3B69;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 375px;
  height: 69px;
}

.container {
  background: white;
  margin: 0 auto;
  width: 375px;
}

.bus-stops {
  display: inline-block;
  width: 375px;
}

.headertitle {
  font-size: 17px;
  font-family: sans-serif;
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 39%;
  padding-top: 33px;
}

.arrow-left {
  color: #FAC08C;
  float: left;
  padding-left: 2%;
}

.arrow-right {
  color: #8E8E93;
  float: right;
  padding-right: 2%;
}

.content {
  display: inline-block;
  width: 375px;
  height: 45px;
}

.content h1 {
  background-color: #E5E5EA;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  display: inline-block;
  width: 375px;
  height: 45px;
  padding-left: 9px;
  padding-top: 9px;
}

.location h2 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 9px;
  padding-top: 10px;
}

.location h3 {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 9px;
}

.location h4 {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
  padding-left: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CDCED3;
}

.noservicecontent {
  background-color: #FF2834;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  width: 375px;
  height: 45px;
  padding-top: 7px;
  padding-left: 9px;
  padding-top: 10px;
}
